body {
    background-color: hsl(0, 0%, 92%);
    font-family: "Hind Siliguri", sans-serif;
    font-style: normal;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------- Heading */

#heading {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.logo {
    height: 50px;
    padding-right: 5px;
}

/* --------- Location and search button */

form {
    position: relative;
    margin-bottom: 10px;
  }
  
.location-input {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 5px;
    margin: 15px;
    width: 630px;
}

.fa-solid.fa-magnifying-glass {
 padding: 10px 5px;
 font-weight: bold;
 font-size: 1.4em;
 
}

.fa-solid.fa-magnifying-glass:hover {
    color:hsl(240, 66%, 64%);
}

input[type="search"] {
    padding-right: 20px;
  }

  button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: rgb(255, 255, 255);
  }

/* --------- Weather content and background */

.weather-content {
    padding: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000,
    -1px -1px 0 #000,  
    1px 1px 0 #000; 
    font-size: 1.3rem;
}

.container {
    width: 50%;
    height: 450px; 
    background-image: url('../images/cloud-sky.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
}

h2 {
    font-size: 3.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

p {
    font-size: 1.5rem;
    margin: 5px 5px;
}
.temperature {
    font-size: 2.5rem;
}

.humidity {
    font-weight: bold;
}

.description {
    font-style: oblique;
    font-weight: bold;
    font-size: 1.7rem;
}
 .emoji-weather {
    margin: 0;
    font-size: 3rem;
 }
 .error {
    font-weight: bold;
    font-size: 1.8rem;
    margin:0;
 }

 /* Media Query for Mdfd obile  */
 @media (max-width: 430px) {

    .location-input {
        width: 230px;
    }

    .container {
        width: 75%;
    }

 }
/* Media Query for Tablets*/
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
   
    .location-input {
        width: 430px;
    }

    .container {
        width: 60%;
        height: 500px;
    }

    h2 {
        margin-top: 35px;
        font-size: 3.5rem;
    }
  }

  /* Media Query for computer screen size */
  @media only screen and (min-width: 1441px) {
  
    .location-input {
        width: 700px;
    }

    .container {
        width: 30%;
        height: 700px;
    }
  }